* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
html{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
body{
    width: 1480px;
    height: 1282px;
    margin:0 auto;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.ra{
    font-size: 80px;
    color: black;
}
.mda{
    font-size: 80px;
    color: cyan;
    margin: 0;
}

.top_nav{
margin-top: 38px;
}
.top_menu{

    display: flex;
    justify-content: center;
    height: 72px;
    width: 1280px;
    background: #35444F;
}
.menu_section{
padding: 0 20px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    font-size: 24px;
}
.top_menu a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 72px;
    display: block;
    height: 72px;
}
.menu_section:hover{
    background: #222F3A;
}
.content{
    margin-top: 48px;
    display: flex;
}
.left_menu{
    width: 344px;
    height: 399px;
    border: 1px solid gray;
}
.left_menu_list{
    display: flex;
    flex-direction: column;
}
.left_menu_section{
    height: 79.8px;
}
.left_menu_section a{
    font-size: 27px;
    color: #485863;
    line-height: 79.8px;
    display: block;

    padding-left: 44px;
}
.left_menu_section:hover{
    background: #DBDBDB;
}
.left_menu_section a:hover{
    padding-left: 70px;
}
.nav_container{
    width: 344px;
    height: 399px;
}
.picture{
    border: 1px solid gray;
    display: flex;
    width: 885px;
    height: 529px;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 320px;
    height: 381px;
    transition: 0.5s linear;
}
.picture:hover .logo{
    transform: scale(1.2);
}
.main_content{
    margin-left: 52px;
}
.text1{
    font-size: 18px;
    color: #2C2C2C;
}
.p1{
    margin-top: 37px;
}
.p2{
    margin-top: 34px;
}
.footer_container{
    display: flex;
    margin-top: 51px;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer_menu{
    display: flex;
}
.footer_menu a{
    font-size: 28px;
    line-height: 69px;
    color: #0C1927;
    text-decoration: none;
}
.footer_menu_section{
    padding-left: 38px;
}
.copyright{
    font-size: 24px;
    color: #010101;
    margin-left: 135px;
    line-height: 69px;
}
.footer_menu_section a:hover{
    color: cadetblue;
    text-decoration: underline;
    text-underline-offset: 15px;
}
